<div class="container">
	<div class="row">
    <h2>商品一覧</h2>
    <%= link_to new_admin_item_path do %>

    <%= link_to '商品追加', new_admin_item_path, class: "btn btn-primary" %>
    
      <span class="glyphicon glyphicon-plus add-btn" aria-hidden="true"></span>
    <% end %>
    
    <div class="container col-xs-6 col-xs-offset-3">
  <div class="row">
    <table class="table col-xs-8">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_sale_status == true %>
              <td>販売中</td>
            <% else %>
              <td>販売停止中</td>
            <% end %>
        </tr>
      <% end %>
    </table>
      </div>
</div>
    <%= paginate @items %>
  </div>
</div>