<div class="row">
 <div class="col-md-6 offset-md-3">

    <div class="homes-top-image col-xs-8 col-xs-offset-1">
      <div class="homes-top-text col-xs-10 col-xs-offset-1">
        <h4 class="text-center">
          ようこそ、NAGANO_CAKEへ！😸<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </h4>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 bgred">
  <h2>新着商品</h2>
  </div>
<div class="row justify-content-around">
  <% @items.each do |item| %>
            <div "col-4">
              <%= link_to public_item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill, 250, 150, fallback: "no_image.jpg", size:'205x140' %>
              <% end %>
            <div><%= item.name %></div>
          </div>
          <div>
            <p><span>¥</span><%= item.price %></p>
    </div>
  <% end %>
           </div>
</div>
<div class="col-xs-1 col-xs-offset-10">
    <p><%= link_to 'もっと見る  >', public_items_path %></p>
</div>