<div class="container">
  <div class="row">
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: red;"><%= @customer.errors.count %>件のエラーが発生しました</h2>
      <ul style="color: red;">
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-xs-8">
    <h2><%= @customer.last_name %><%= @customer.first_name %>さんの登録情報編集✏︎</h2>
    <%= form_for(@customer, url: admin_customer_path ) do |f| %>
  <div class="container col-xs-6 col-xs-offset-3">
  <div class="row">
    <table class="table col-xs-8">
          <tbody>
            <tr class="edit-customer-row">
              <td class="col-xs-3">会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">氏名</td>
              <td>
                <%= f.text_field :last_name, autofocus: true %>
                <%= f.text_field :first_name, autofocus: true %>
              </td>
            </tr>
            <tr class="edit-customerrow">
              <td class="col-xs-3">フリガナ</td>
              <td>
                <%= f.text_field :last_name_kana, autofocus: true %>
                <%= f.text_field :first_name_kana, autofocus: true %>
              </td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">郵便番号</td>
              <td><%= f.text_field :postal_code, autofocus: true %></td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">住所</td>
              <td class="edit-customer-address"><%= f.text_field :address, autofocus: true, class: "edit-customer-address" %></td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">電話番号</td>
              <td><%= f.text_field :telephone_number, autofocus: true %></td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">メールアドレス</td>
              <td><%= f.text_field :email, autofocus: true %></td>
            </tr>
            <tr class="edit-customer-row">
              <td class="col-xs-3">会員ステータス</td>
              <td>
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active, "有効", {value: :true}%>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active, "退会済み", {value: :false} %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="edit-customer-button">
           <%= f.submit '編集内容を保存する', class: "btn btn-primary"%>
        </div>
      <% end %>
      </div>
  </div>
</div>