<div class="container">
  <div class="row">
    <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
    <table class="col-xs-3 admin-show-table">
      <tbody>
        <tr class="admin-show-info">
          <td>顧客ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr class="admin-show-info">
          <td>氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr class="admin-show-info">
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr class="admin-show-info">
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr class="admin-show-info">
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr class="admin-show-info">
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr class="admin-show-info">
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="col-xs-offset-3">
      <% if @customer.is_active == "t" %>
        <div class="admin-flag-true">有効会員</div>
       <% else %>
        <div class="admin-flag-false">退会済み</div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= link_to '編集する', edit_admin_customer_path(@customer),class:" btn btn-primary admin-show-button" %>
    <%= link_to '注文履歴一覧を見る', admin_orders_path,class:" btn btn-primary admin-show-button" %>
  </div>
</div>