<div class ="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offet-1">
     	<h3>注文情報入力</h3>
      <div class="order-notice"><%= flash[:danger] %></div>
      <% if @order.errors.any? %>
      <ui>
        <% @order.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ui>
      <% end %>
      <div class="form-group">
        <div class="form-group">
          <%= form_with(url: order_about_path, local: true) do |f| %>
          <%= f.label :支払方法 %><br>
          <%= f.select :settlement, Order.settlements.keys.to_a, {}, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :お届け先 %><br>
          <%= f.radio_button :selected, :a, checked: true %><span>ご自身の住所</span><br>
          <%= @customer.postal_code %><%= f.hidden_field :postal_code, value: @customer.postal_code %><br>
          <%= @customer.address %><%= f.hidden_field :address, value: @customer.address %><br>
          <%= @customer.last_name %><%= f.hidden_field :last_name, value: @customer.last_name %><br>
          <%= @customer.first_name %><%= f.hidden_field :first_name, value: @customer.first_name %><br>
        </div>

        <div class="form-group">
          <%= f.radio_button :selected, :b %><span>登録済住所から選択</span><br>
          <%= f.select :address, @customer_shipping_addresses.map{ |customer_address| [
            customer_address.postal_code + customer_address.address + customer_address.name, customer_address.id
            ]}, {include_blank: "選択してください"}, class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.radio_button :selected, :c %><span>新しいお届け先</span><br>
          <span>郵便番号（ハイフンなし）</span>
           <%= f.text_field :p, class:"form-control" %>
          <span>住所</span>
          <%= f.text_field :a, class:"form-control" %>
          <span>宛名</span>
          <%= f.text_field :r, class:"form-control" %>
        </div>

          <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
      <% end %>
      </div>
     </div>
  </div>
</div>